.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #17273f;
    color: #fff;
    padding: 1rem 0rem;
}
a:link{
    color: red;
}
a:visited{
    color: green;
}
.footer-text{
    padding: 0 2rem;
    text-align: center;
}