.block{
    height: 280px;
    width: 300px;
    background-color: #6384ff;
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* padding: 20px; */
}
.icon-sizer-40{
    height: 40px;
    width: 40px;
}
.icon-sizer-125{
    height: 125px;
    width: 125px;
}
.block-description{
    text-align: center;
}
.slideUp-animation{
    animation: 0.3s ease-in 0s SlideUp;
}
.fill-block{
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes SlideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
