.inner-section{
    display: flex;
    min-height: 280px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.inner-column{
    height: 280px;
    width: 500px; 
    padding-right: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.left-text-right-img{

}
.right-text-left-img{
    flex-direction: row-reverse;
}
.left{
    margin-left: 40px;
}
.right{
    margin-right: 40px;
}
.mockup{
    width: 250px;
    height: 250px;
}
.animate-left-column{
    animation: 0.3s ease-in 0s slideInLeft;
}
.animate-right-column{
    animation: 0.3s ease-in 0s slideInRight;
}
@keyframes slideInLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideInRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@media (max-width: 768px){
    .inner-column{
        width: 88%;
    }
    .left{
        margin-left: 0%;
    }
    .right{
        margin-right: 0%;
    }
    .step-by-step-row{
        margin-top: 14vh;
        margin-bottom: 26vh;
    }
    .inner-section{
        min-height: 350px;
        flex-direction: column;
    }
}









/* .shadowyBorderBox{
    width: 300px;
    height: 270px;
    border: 1px solid black; 
    border-radius: 8px;
} */