.blocks-container{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 3rem 6rem;
}
@media (max-width: 768px) {
    .blocks-container{
        padding: 3rem 1rem;;
    }
}