.navbar{
    margin: 0px;
    padding: 0px;
    border: 1px solid;
}
.header{
    height: 10vh;
    border: 1px solid;
    padding: 0%;
    margin: 0%;
}
.unordered-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.list-item{
    margin: 0px 10px;
}